.wrapper {
  display: flex;
  align-items: stretch;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
.crop {
  width: 43px;
  height: 43px;
  overflow: hidden;
}
.sidebar {
  min-width: 15.625rem;
  max-width: 15.625rem;
  padding: 0.8em 0.8em;
  background: #fff;
  color: $grey;
  font-size: 0.8125em;
  border: 1px solid #d7d7d7;
  transition: all 0.7s;
  &.active {
    min-width: 3.9375rem;
    max-width: 3.9375rem;
    text-align: center;
    transition: all 0.7s;
    .sidebar__header {
      &__logo {
        margin: 0px 100px 0 0px;
      }
    }
    .sidebar__menu {
      margin: 1.875em 0px;
      p {
        border-bottom: 1px solid rgba(0, 0, 0, 0.15);
        color: transparent;
      }
      &__link {
        span {
          display: none;
        }
      }
    }
  }
  &__menu {
    margin: 1.875em 24px;
    transition: all 0.7s;
    p {
      margin-top: 2em;
      margin-left: -0.5em;
      color: $grey-light-3;
      font-weight: 500;
    }
    &__link {
      margin: 0.1em;
      padding: 0.7em;
      border-radius: 5px;
      &--active {
        font-weight: 500;
        background: $info;
        color: #fff;
      }
      a {
        text-align: left;
        display: flex;
        flex-wrap: nowrap;
        img {
          font-size: 1.5em;
        }
        span {
          margin-left: 0.5em;
          white-space: nowrap;
          overflow-x: hidden;
        }
      }
    }
  }
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

.content {
  width: calc(100% - 15.625rem);
  transition: all 0.7s;
  &.active {
    width: calc(100% - 3.9375rem);
  }
  padding: 0px;
  min-height: 100vh;
  .sites {
    color: #adadad;
    height: 2.25rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #fff;
    box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.15);
    div {
      background: #fcfcfc;
      height: 100%;
      width: 5.4375em;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.15);
      p {
        margin-bottom: 0;
        padding: 0em 0em;
        font-size: 0.75em;
        font-weight: $font-weight-medium;
      }
    }

    ul {
      margin-bottom: 0;
      padding-left: 1.4375em;
      list-style-type: none;
      display: flex;
      flex-wrap: wrap;
      li {
        display: inline-block;
        a {
          padding: 0.625em;
          font-size: 0.75em;
          font-weight: $font-weight-medium;
          white-space: nowrap;
          &.active {
            color: $info;
          }
        }
      }
    }
  }
  .main {
    margin-top: 1.6875rem;
    margin-left: 2rem;
    margin-right: 2rem;
    &__title {
      font-size: 1em;
      font-weight: $font-weight-medium;
      color: $dark;
    }
  }
}
/* ---------------------------------------------------
    NAVBAR STYLE
----------------------------------------------------- */

.navbar {
  height: 3.75rem;
  padding: 0em 0em;
  background: #fff;
  border: none;
  border-radius: 0;
  box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.15);
  &__btn {
    margin-left: 1em;
    color: lighten($grey, 50);
    &:hover {
      color: darken($grey, 20);
    }
    i {
      font-size: 1.15em;
    }
  }
  &__title {
    color: $dark;
    font-weight: 500;
    font-size: 1.15em;
    margin-left: 1em;
  }
  &-nav {
    background: #fff;
  }
  .nav-item {
    margin-right: 1em;
    color: $grey-light-3;
    .dropdown-menu {
      .dropdown-item {
        &.active {
          background: transparent;
          span {
            color: $dark;
          }
        }
        & span {
          margin-left: 0.5em;
          font-size: 0.8125em;
          color: #adadad;
        }
      }
    }
  }
  .nav-link {
    img {
      span {
        white-space: nowrap;
      }
    }
  }
}
/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: $screen-xs-max) {
  .content {
    .sites {
      height: 4rem;
    }
  }
}

@media (max-width: $screen-xxs-max) {
  .navbar {
    .nav-item {
      margin-right: 0.3em;
    }
  }
}
